/.codex
/.ipcache/
/.run/
/.Xil/
/build/

v++_*.log
*.backup.log
*.jou
*.str
vitis_hls.log
xcd.log
/_x/

__pycache__/
*.pyc

/CinnamonHLS/build/
/CinnamonHLS/.ipcache/
/CinnamonHLS/.run/
/CinnamonHLS/.Xil/
/CinnamonHLS/.kernel_validation_prj_*/
/CinnamonHLS/.csim_prj_*/
/CinnamonHLS/.csim_projects/

/CinnamonTutorial/notebook3/outputs/
/CinnamonTutorial/notebook3/outputs_4ch/
/CinnamonTutorial/notebook3/sst_log_dir/
